.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
    width: 80%;
    overflow: hidden;
    flex-wrap: wrap;
    
}

.boxText{

    animation: textAnimate 2s;
    margin-bottom: 10px;
}

.boxText h1{
    width: 100%;
    max-width: 400px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
    margin-right: 150px;
    color: white;
    margin-bottom: 30px;

}

.boxText p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 150px;
    color: #9b47e6;

}

.img {
    width: 50%;
    position: relative;
    animation: imgAnimate 2s;
}

@keyframes textAnimate{
    from{
        opacity: 0;
        left: -650px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes imgAnimate{
    from{
        opacity: 0;
        left: 580px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

.boxText [data-linkedin] svg{
    position: relative;
    left: -6px;
    top: 4px;
    font-size: 1.4em;
}

.boxText [data-github] svg{
    position: relative;
    left: -6px;
    top: 8px;
    font-size: 1.4em;
}


.boxText [data-linkedin], .boxText [data-github]{
    background-color: #6e1bb6;
    text-align: center;
    margin: 0px 30px 0px 0px;
    padding: 7px 27px 14px 27px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 9px;
    transition: 0.5s;
    border: none;
}

.boxText button:hover{
    transition: 0.5s;
    padding: 7px 40px 14px 40px;
}

@media (max-width: 1450px){
    .boxText{
        position: relative;
        margin: 0 auto;
        width: auto;
        animation: textAnimate 2s;
    }

    .boxText h1{
        margin: 0;
    }

    .boxText P{
        margin: 20px 0 20px 0;
    }

}

.sobre{
    padding-top: 50px;
    margin-top: 50px;
}

.projetos{
    width: 100%;
    margin-top: 150px;
}

.conhecimentos{
    width: 100%;
    margin-top: 50px;
}

.contato{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 220px;
}

.container footer{
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.wave{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background-image: url('../img/wave.png');
    animation: animate 10s linear infinite;
}

.wave::before{
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../img/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;

}


.wave::after{
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../img/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate-reverse 20s linear infinite;

}

@keyframes animate{
    0%{
        background-position: 0;
    }

    100%{
        background-position: 1360px;
    }
}

@keyframes animate-reverse{
    0%{
        background-position: 1360px;
    }

    100%{
        background-position: 0;
    }
}




@media (min-width: 300px) and (max-width: 510px){


    .boxText{

        animation: textAnimate 2s;
        margin-top: -50px;
    }

    .boxText h1{
        width: 100%;
        font-family: 'DM Sans', sans-serif;
        font-size: 1.5em;
        line-height: 140%;
        font-weight: 800;
        margin-right: 150px;
        color: white;
        margin-bottom: 30px;
    
    }
    
    .boxText p{
        font-family: 'DM Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        color: #9b47e6;
        margin-bottom: 20px;
    
    }

    .img {
        margin-bottom: 40px;
        margin-top: 90px;
        width: 100%;
        position: relative;
        animation: imgAnimate 2s;
    }

    .boxText [data-linkedin], .boxText [data-github]{
        background-color: #6e1bb6;
        text-align: center;
        margin: 10px 30px 0px 0px;
        padding: 5px 22px 10px 22px;
        font-family: 'DM Sans', sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: white;
        text-decoration: none;
        border-radius: 9px;
        transition: 0.5s;
        border: none;
    }
    
 }