.box{
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    
}

.box hr{
    width: 20%;
    height: 2px;
    margin-bottom: 40px;
    border-radius: 50px;
    background-color: white;
}

.box h1{
    font-weight: 600;
    font-size: 2.8em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;

}

.cards{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}