.glassCard{

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    
    backdrop-filter: blur(50px);

    width: 600px;
    padding: 10px;
    height: 300px;
    margin: 20px;
    border-radius: 15px;
    transition: 0.5s;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.textBox{
    width: 50%;
    font-family: 'DM Sans', sans-serif;
}

.textBox span{
    margin-left: 5px;
    color: #9b47e6;

}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
   
.glassCard h2{
    font-weight: 600;
    font-size: 1.8em;
}

@media (min-width: 300px) and (max-width: 510px){

    .glassCard{

        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        
        backdrop-filter: blur(50px);
    
        width: 320px;
        padding: 10px;
        height: auto;
        margin: 20px;
        border-radius: 15px;
        transition: 0.5s;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
    }
    
    .textBox{
        width: 80%;
        font-family: 'DM Sans', sans-serif;
    }
    
    .textBox span{
        
        margin-left: 5px;
        color: #9b47e6;
    
    }
    
    .buttons{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }
       
    .glassCard h2{
        font-weight: 600;
        font-size: 1.8em;
    }
    
    .img{
        margin-top: 10px;
    }
    
    .buttons{
        margin-top: 30px;
    }
 }