.box a{
    padding: 9px 20px;
    margin: 5px;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    color: #ffff;
}

.box a:hover{
    transition: 0.5s;
    border-bottom: 1px solid #6117a1;
}