.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 80%;
    overflow: hidden;
}

.box h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
    margin-right: 150px;
    color: white;
    margin-bottom: 30px;

}

.box p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 150px;
    color: #828282;

}

.img {
    position: relative;
    animation: imgAnimate 2s;
}

.boxText{
    position: relative;
    width: 50%;
    animation: textAnimate 2s;
}

@keyframes textAnimate{
    from{
        opacity: 0;
        left: -650px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes imgAnimate{
    from{
        opacity: 0;
        left: 580px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

.boxText [data-Linkedin] svg{
    position: relative;
    left: -6px;
    top: 4px;
    font-size: 1.4em;
}

.boxText [data-Github] svg{
    position: relative;
    left: -6px;
    top: 8px;
    font-size: 1.4em;
}


.boxText [data-Linkedin], .boxText [data-Github]{
    background-color: #6117a1;
    text-align: center;
    margin: 20px 30px 0 0;
    padding: 12px 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.boxText a:hover{
    transition: 0.5s;
    padding: 12px 60px;
}
